.container{
    width:90%;
    margin:0 auto;
    text-align: center;
}

.flex{
    display:flex;
    justify-content:center;
    align-items:center;
}

.grid{
    display:grid;
    grid-template-columns:1fr;
    gap:10px;
    -moz-display:grid;
    -moz-grid-template-columns:1fr;
    -moz-gap:10px;
}